*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #222;
    font-size: 1rem;
}

body {
    background: white;
    height: 100vh;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template: 10rem auto auto / auto;
}

header {
    grid-row: 1;
    display:grid;
    grid-template: auto / auto auto;
    border-bottom: 1px solid black;
}

header nav ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}

header nav ul li a{
    padding: 1rem 2rem 1rem 2rem;
    display: block;
    text-decoration: none;
}

header h1 {
    grid-column: 2;
    padding: 1rem 1rem 1rem 0;
    text-align: end;
}



main {
    grid-row: 2;
}

.index-main, .felix-main {
    display: flex;
    justify-content: center;
    align-items: center;
}



footer{
    grid-row: 3;
}

@media (min-width: 1024px) {
    main .about {
        display: grid;
        grid-template: auto auto / auto;
    }
    
    main .about article {
        grid-column: 2;
    }
    
    main .about picture {
        display: flex;
        justify-content: center;
        margin: 0 1rem 0 0;
    }
    
    main .about picture img{
        grid-column: 1;
        width: 20rem;
        height: 30rem;
        display: flex;
        justify-content: center;
    }
}